/* @author Tim himself */

.ziehharmonika h3 {
    background: rgba(255, 255, 255, 0);
    color: #520203;
    text-align: left;
    border-radius: 0px;
    padding: 25px 20px;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 25px;
    padding-right: 40px;
    transition: 0.25s all;
    position: relative;
    border: 1px solid #520203;
    font-weight: 700;
    font-size: 19px;
    /*letter-spacing: 1px;*/
}
.ziehharmonika h3.active {
	    color: #fff;
    margin-bottom: 21px;
  background: #520203;
    border: 6px solid rgba(44, 185, 139, 0.01);
}
.ziehharmonika h3::before {
	content: attr(data-prefix);
	font-size: 18px;
	margin-right: 9px;
}
.ziehharmonika > div {
	display: none;
	    background: #fff;
    border-radius: 0;
    border: 1px solid #cdcdcd;
    text-align: left;
    padding: 31px 33px;
    margin-bottom: 9px;
}
.ziehharmonika .arrowDown {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13.0px 7.5px 0 7.5px;
	border-color: #272e35 transparent transparent transparent;
	position: absolute;
	bottom: 0;
	left: 40px;
	transition: 0.25s all;
	opacity: 0;
}
.ziehharmonika .active .arrowDown {
       bottom: -18px;
    border-color: #520405  transparent transparent transparent;
    opacity: 1;
}
.ziehharmonika .collapseIcon {
	    position: absolute;
    right: 20px;
    top: 52%;
    font-size: 30px;
    font-weight: 400;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
/*--/Responsive--*/
@media(max-width:640px){
	.ziehharmonika > div {
		display: none;
		background: #fff;
		border-radius: 0;
		border: 1px solid #cdcdcd;
		text-align: left;
		padding: 15px 15px;
		margin-bottom: 9px;
	}
	.ziehharmonika h3 {
      padding: 15px 20px;
	}
}
@media(max-width:414px){
	.ziehharmonika h3 {
		padding: 9px 15px;
		margin-bottom: 14px;
		padding-right: 40px;
		font-size: 1.2em;
	}
}
/*--//Responsive--*/